@using static Laba_ISTP_1.Helpers.Roles;
@model IEnumerable<Laba_ISTP_1.Models.Timetables>

@{
    ViewData["Title"] = "Розклади";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #f8f8f8;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #e0e0e0;
            color: #333;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

            .btn-primary:hover,
            .btn-primary:focus,
            .btn-primary:active,
            .btn-primary.active {
                color: #fff;
                background-color: #286090;
                border-color: #204d74;
            }

            .btn-primary:active,
            .btn-primary.active {
                background-image: none;
            }
    </style>
</head>
<body>
    <h1>Розклади</h1>
    @if (User.IsInRole(Role.Dean) || User.IsInRole(Role.Teacher))
    {
        <p>
            <a asp-action="Create">Створити новий</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.Details)
                    </td>
                    <td>
                        @if (User.IsInRole(Role.User) || User.IsInRole(Role.Teacher))
                        {
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete | </a>
                        }
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>